* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conteudo */

.conteudo {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

/* Cabeçalho */

.header {
  width: 100%;
  height: 12%;
}

.navbar {
  width: 100%;
  height: 12%;

  background-color: var(--jungle-green) !important;
  position: fixed;
}

.navbar-nav {
  width: 100%;
  height: 100%;

  font-family: var(--font-title);
  font-size: 16px;
}

.nav-link {
  color: var(--banana-snow);
}

.header__carrinho {
  width: 53px;
  height: 53px;

  display: flex;
  justify-content: center;

  border-radius: 50%;

  background-color: var(--banana-yellow);
}

.header__perfil {
  width: 53px;
  height: 53px;

  display: flex;
  justify-content: center;


  border-radius: 50%;

  background-color: var(--bloon-red);
}

.dropdown-menu {
  background-color: var(--banana-yellow);
}

/* Corpo  */

.main {
  width: 100%;
  height: 100%;

  display: flex;
}

.catalogo {
  background-color: var(--sky-blue);
  height: 80%;
  padding: 2rem;
  font-family: var(--font-description);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 12vh;
}

.catalogo__filtros {
  display: flex;
  width: 40%;
  gap: 2rem;
  justify-content: flex-start;
}

.catalogo__select {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 1rem 1.5rem;

  border: var(--border-weight) solid var(--banana-yellow);
  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-family: var(--font-description);
  font-weight: bold;

  background-color: var(--banana-yellow);
  color: var(--ancient-trunk);

  cursor: pointer;
}


.catalogo__select::placeholder {
  color: var(--ancient-trunk);
}


/* Rodapé */

.footer {
  width: 100%;
  height: 5%;


  background-color: var(--jungle-green);

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__description {
  color: var(--banana-snow);

  font-family: var(--font-description);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__nav.show .nav__li{
    align-self: end;
    margin-right: 1rem;
}

/* Medias */

@media screen and (max-width: 1024px ) {

  .header img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .catalogo__produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 24px;
    justify-items: center;
    width: 100%;
    height: auto;
  }

  .catalogo__card {
    width: 90%;
    max-width: 250px;
    height: auto;
    background-color: var(--jungle-green);
    padding: 1rem;
    border-radius: 10px;
  }
  .catalogo__filtros{
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .catalogo__select{
      width: 50vw;
  }
}

@media screen and (max-width: 576px) {
  .catalogo__produtos {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 24px;
    justify-items: center;
    width: 100%;
    height: auto;
  }

  .catalogo__card {
    width: 90%;
    max-width: 250px;
    height: auto;
    background-color: var(--jungle-green);
    padding: 1rem;
    border-radius: 10px;
  }

  .catalogo__filtros{
    display: flex;
    justify-content: center;

    width: 100%;
  }

  .catalogo__select{
      width: 50vw;
    }
}
