<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Macacaria - Produto</title>

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>

    <!-- link Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

    <!-- Material icons google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">

    <!-- OBSERVAÇÂO: COLOCAR ICONES DO FONT AWESOME PARA PONTO A MAIS !!! -->
    <script src="https://kit.fontawesome.com/91808f6bac.js" crossorigin="anonymous" defer></script>

    <!-- CSS Local  -->
    <link rel="stylesheet" href="../static/css/variables.css">
    <link rel="stylesheet" href="../static/css/style-produto.css">

    <link rel="shortcut icon" type="imagex/png" href="../static/images/icone.ico">
</head>

<body>
    <section class="conteudo">
        <!-- Cabeçalho -->
        <header class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <figure class="header__logo">
                            <img src="../static/images/logo.svg" alt="logo Macacaria">
                        </figure>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav d-flex justify-content-around align-items-center">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Pagina Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Catálogo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Macacos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bloons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Melhorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Conta</a>
                            </li>
                            <li class="nav-item header__carrinho">
                                <a href="">
                                    <i class="fa-solid fa-cart-shopping" style="color: var(--banana-snow);"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown header__perfil">
                                <a class=" dropdown" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="fa-solid fa-user" style="color: var(--banana-snow);"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Cadastre-se</a></li>
                                    <li><a class="dropdown-item" href="#">Login</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>



        <main class="main">

            <div class="product">
                <h4 class="product__category">
                    Categoria: 
                    
                    {% if product.product_type == 'Macacos' %}
                        {{ product.monkey_class }}
                    {% else %}
                        {{ product.bloon_types }}
                    {% endif %}
                </h4>
                <img src="{{ product.images[0] }}" alt="{{ product.name }}" class="product__image" />
                <h2 class="product__name">{{ product.name }}</h2>
                <p class="product__description">{{ product.description }}</p>
                <div class="product__rate">
                    <figure class="rate__stars">
                        {% for i in range(5) %}

                        {% if i < product.rating %}
                            <img src="/static/images/full_star.svg" alt="full-star">
                        {% else %}
                            <img
                            src="/static/images/empity_star.svg" alt="empty-star">
                        {% endif %}

                        {% endfor %}
                    </figure>
                    <span class="rate__quantity">
                        {{ product.rate_quantity }}

                        {% if product.rate_quantity > 1 %}
                            Avaliações
                        {% else %}
                            Avaliação
                        {% endif %}
                    </span>
                </div>
                <h3 class="product__price">{{ product.price }} Bananas</h3>
                <form class="product__form">
                    <div class="product__quantity-control">
                        <button type="button" class="quantity__button quantity__button--decrease">-</button>
                        <input type="number" name="product__quantity" id="productQuantity" class="product__quantity" min="1" max="{{ product.quantity }}" value="1" />
                        <button type="button" class="quantity__button quantity__button--increase">+</button>
                    </div>
                    <button type="button" class="product__button">Adicionar ao carrinho</button>
                </form>
            </div>

            <div class="comments">
                <h2 class="comments__title">Comentários</h2>
                <hr class="hr" />
                <form action="" class="comments__user-comment">
                    <textarea 
                        name="user-comment__comment" 
                        cols="50" rows="2"
                        placeholder="Digite seu comentário..." 
                        class="user-comment__comment"
                    >
                    </textarea>

                    <div class="user-comment__radio">
                        <div class="radio__inputs">
                            <div class="radio__item">
                                <input type="radio" name="user-comment__rate" id="star1" value="1" class="rate__input">
                                <label for="star1" class="rate__label"><img src="/static/images/empity_star.svg"
                                        alt="star1"></label>
                            </div>
                            <div class="radio__item">
                                <input type="radio" name="user-comment__rate" id="star2" value="2" class="rate__input">
                                <label for="star2" class="rate__label"><img src="/static/images/empity_star.svg"
                                        alt="star2"></label>
                            </div>
                            <div class="radio__item">
                                <input type="radio" name="user-comment__rate" id="star3" value="3" class="rate__input">
                                <label for="star3" class="rate__label"><img src="/static/images/empity_star.svg"
                                        alt="star3"></label>
                            </div>
                            <div class="radio__item">
                                <input type="radio" name="user-comment__rate" id="star4" value="4" class="rate__input">
                                <label for="star4" class="rate__label"><img src="/static/images/empity_star.svg"
                                        alt="star4"></label>
                            </div>
                            <div class="radio__item">
                                <input type="radio" name="user-comment__rate" id="star5" value="5" class="rate__input">
                                <label for="star5" class="rate__label"><img src="/static/images/empity_star.svg"
                                        alt="star5"></label>
                            </div>
                        </div>

                        <button class="user-comment__button">Comentar</button>
                    </div>
                </form>
                <div class="comments__all-comments">
                    {% for comment in comments %}
                    <div class="all-comments__item">
                        <h4 class="item__name">{{ comment.user }}</h4>
                        <p class="item__comment">{{ comment.message }}</p>
                        <figure class="item__stars">
                        {% for i in range(5) %}

                        {% if i < comment.rating %}
                            <img src="/static/images/full_star.svg" alt="full-star">
                        {% else %}
                            <img
                            src="/static/images/empity_star.svg" alt="empty-star">
                        {% endif %}

                        {% endfor %}
                        </figure>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </main>



        <footer class="footer">
            <p class="footer__description">© 2025 Macacaria</p>
        </footer>
    </section>

    <!-- javascript local -->
    <script src="/static/js/scriptProduto.js" type="module"></script>
</body>

</html>