{% extends "template_base.html" %}

{% block style_proprio %}<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">{% endblock %}


{% block content %}

        <main class="macacaria__main">
            <div class="login">
                <form>
                    <label for="email">Endereço de email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>

                    <button type="submit">Logar</button>
                </form>

                <section>
                    <p>Não tem conta? <a href="#">Cadastre-se!</a></p>
                </section>
            </div>
        </main>{% endblock %}

