{% extends "template_base.html" %}

{% block style_proprio %}<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">{% endblock %}


{% block content %} <!-- Corpo -->
        <main class="main">
            <div class="main__banner">
                <img src="" alt="">
            </div>

            <div class="main__sobre">

                <img src="" alt="">

                <h1>Seja Bem-vindo(a) a Macacaria!</h1>

                <h2>Quem Somos?</h2>
                <p>Lorem ipsum</p>

                <div class="sobre__destaques">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>

        </main>{% endblock %}

